dl {
  margin-top: 1px;
  margin-bottom: 5px; /* 调整这个值以获得合适的间距 */
  clear: both;
}

img {
  display: block;
  margin: 0px 10px 10px 0px; /* 图片居中 上右下左*/ 
  max-width: 100%; /* 限制图片最大宽度 */
}

hr {
  border: 1px solid #ebebeb; /* 调整分隔线的颜色和样式 */
  /* margin: 10px;  */
  clear: both; 
}

dl dd {
  color: inherit;
  margin-top: 1px;
  margin-bottom: 1px;
}

dl dd strong {
  font-weight: bold;
}

.publication-title {
  font-weight: bold;
}

.image-container {
  display: flex;
  justify-content: center;
  gap: 10px; /* 控制图片间距 */
  margin: 20px 0;
}

.image-container img {
  max-width: 150px; /* 控制最大宽度 */
  height: auto;
  margin: 0; /* 移除原来的 margin */
}

.co-first {
  color: #B02418;
}
